@import '../../common/styles/variables';

.log {
    margin: 15px 0;
    background-color: $menuColor;
    border-radius: 20px;
    color: #ffffffb7;
    width: 100%;
    padding: 27.5px;
    height: 200px;
    overflow: auto;

    div {
        font-size: 10px;
    }

    .green {
        color: green;
    }
    .red {
        color: red;
    }
}

.lightTheme {
    background-color: $menuColorLight;
    color: $textColorLight;
}
