@import '../../common/styles/sass/variables';
$textColor: #B2B2B2;

.selectNetwork {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amount {
    margin-top: 25px;

    .headerAndBalance {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .buttonIn {
        width: 100%;
        position: relative;

        input {
            width: 100%;
            background: $elementColor;
            border: none;
            height: 55px;
            border-radius: 15px;
            padding-left: 35px;
            color: $textColor;
        }

        button {
            position: absolute;
            border-radius: 10px;
            width: 75px;
            height: 33px;
            right: 11px;
            top: 20%;
            background: #565A66;
            color: $textColor;
            cursor: pointer;
        }
    }
}

.buttonsBlock {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    button {
        color: #A5A5A5;
        border-radius: 15px;
        height: 55px;
        cursor: pointer;

        &:nth-of-type(1) {
            background: $elementColor;

            &:disabled {
                color: $textColorDisabled;
                cursor: auto;
                &:hover {
                    background: $elementColor;
                }
            }
        }

        &:nth-of-type(2) {
            margin-top: 11px;
            background: #2B2E39;
        }

        &:hover {
            background: #203147;
        }
    }

    .accent {
        border: 1px solid $accentColor;
    }

}

