@import '../../common/styles/variables';


@mixin disabledButton {
    &:disabled {
        color: $textColorDisabled;
        cursor: auto;
    }
}

.menuContainer {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 50px);

    .menu {
        background-color: $menuColor;
        border-radius: 25px;
        color: #ffffffb7;
        width: 100%;
        max-width: 850px;
        padding: 27.5px;
        height: 600px;

        input, .amountReceived {
            width: 100%;
            background: $backgroundColor;
            border: none;
            height: 55px;
            border-radius: 15px;
            padding-left: 35px;
            color: $textColor;
        }

        .lightTheme {
            background: $backgroundColorLight;
            color: $textColorLight;
        }

        .amountReceived {
            display: flex;
            align-items: center;
        }

        .selectNetwork {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .amount {
            width: 100%;

            .headerAndBalance {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: inherit;

                .amountBody {
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }

                .amountHeader {
                    width: inherit;
                }


            }

            .buttonIn {
                width: 100%;
                position: relative;

                button {
                    position: absolute;
                    border-radius: 10px;
                    width: 75px;
                    height: 33px;
                    right: 11px;
                    top: 20%;
                    background: $menuColor;
                    color: $textColor;
                    cursor: pointer;
                    @include disabledButton;
                }

                .lightTheme {
                    background: $menuColorLight;
                    color: $textColorLight;
                }

                .lightThemeInput {
                    background: $backgroundColorLight;
                    color: $textColorLight;
                }
            }

            .transactionFee {
                margin-top: 10px;
            }
        }

        .buttonsBlock {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .connectSwapButton {
                color: $backgroundColorLight;
                border-radius: 15px;
                height: 55px;
                cursor: pointer;
                background: $buttonColor;
                margin-top: 10px;
                @include disabledButton;
            }

            .accent {
                border: 1px solid $accentColor;
            }

            .lightTheme {
                background: $textColorLight;
                color: $backgroundColorLight;
            }

            .lightThemeAmount {
                background: $backgroundColorLight;
                color: $textColorLight;
            }

        }


    }
    .lightTheme {
        background-color: $menuColorLight;
        color: $textColorLight;
    }
}





