@import '../../common/styles/sass/variables';

$textColor: #B2B2B2;
$btnColor: #203147;

@mixin disabledButton {
    &:disabled {
        color: $textColorDisabled;
        cursor: auto;

        &:hover {
            background: $btnColor;
        }
    }
}

.menu {
    input, .amountReceived {
        width: 100%;
        background: $elementColor;
        border: none;
        height: 55px;
        border-radius: 15px;
        padding-left: 35px;
        color: $textColor;
    }

    .amountReceived {
        display: flex;
        align-items: center;
    }

    .selectNetwork {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .amount {
        //margin-top: 25px;
        width: 100%;

        .headerAndBalance {
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: inherit;

            .amountHeader {
                width: inherit;
            }

            .amountBody {
                width: inherit;
                display: flex;
                justify-content: space-between;
            }
        }

        .buttonIn {
            width: 100%;
            position: relative;

            button {
                position: absolute;
                border-radius: 10px;
                width: 75px;
                height: 33px;
                right: 11px;
                top: 20%;
                background: #565A66;
                color: $textColor;
                cursor: pointer;
                @include disabledButton;
            }
        }

        .transactionFee {
            margin-top: 10px;
        }
    }

    .buttonsBlock {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        button {
            color: #A5A5A5;
            border-radius: 15px;
            height: 55px;
            cursor: pointer;
            background: $btnColor;
            margin-top: 10px;
            @include disabledButton;
        }

        .accent {
            border: 1px solid $accentColor;
        }

    }

    button {

    }
}



