$backgroundColor: #212124;
$backgroundColorLight: #FFFFFF;
$accentColor: #dfdf9b;
$textColorDisabled: #8b8484;
$buttonColor: #101010;
$menuColor: #161618;
$menuColorLight: #F4F4F4;
$textColor: #C5C5C5;
$textColorLight: #444444;
$swapperAndSwapButtonColor: #000000;
$swapperAndSwapButtonColorLight: #444444;