$backgroundColor: #212124;
$backgroundColorLight: #FFFFFF;
$accentColor: #dfdf9b;
$accentColorLight: #7B61FF;
$textColorDisabled: #8b8484;
$buttonColor: #101010;
$menuColor: #161618;
$menuColorLight: #F4F4F4;
$textColor: #C5C5C5;
$textColorLight: #444444;
$textColorDisabled: #8b8484;
$swapperAndSwapButtonColor: #000000;
$headerTransactionLightColor: #8A8A8A;


