$backgroundColor: #212124;
$backgroundColorLight: #FFFFFF;
$elementColor: #212124;
$elementColorLight: #FFFFFF;
$accentColor: #dfdf9b;
$textColorDisabled: #4e4a4a;
$buttonColor: #101010;
$menuColor: #161618;
$menuColorLight: #F4F4F4;
$textColor: #B2B2B2;
$textColorLight: #444444;
$swapperAndSwapButtonColor: #000000;
$swapperAndSwapButtonColorLight: #444444;