@import '../../../common/styles/variables';

.networkElement {
    max-width: 360px;
    width: 100%;

    .item {
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 165px;
        background: $backgroundColor;
        border-radius: 15px;
        padding: 17px;

        .circle {
            width: 50px;
            height: 50px;
            background: $menuColor;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .chainSymbol {
                width: 38px;
            }
        }

        .lightTheme {
            background: $menuColorLight;
        }

        .select {
            background-color: #313647;
        }


    }

    .lightTheme {
        background: $backgroundColorLight;
    }
}