@import '../../common/styles/variables';

.modalBackground {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba($menuColor, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: $textColor;

    .swapModal{
        background-color: $backgroundColor;
        display: flex;
        flex-direction: column;
        padding: 50px;
        border-radius: 10px;
        button {
            color: $backgroundColorLight;
            border-radius: 15px;
            height: 55px;
            width: 200px;
            cursor: pointer;
            background: $buttonColor;
            margin-top: 20px;
        }
    }
}