@import '../../common/styles/variables';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .networkStatus {
        font-weight: 900;
        color: #74798a88;
    }

    .accent {
        color: $accentColor;
    }
}


@media (max-width: 500px) {
    .Navbar {
        .networkStatus {
            padding-top: 10px;
            font-size: 12px;
            font-weight: 900;
            color: #565c7088;
        }
    }
}