/* Styles go here */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background-color: #131925;
  height: 85vh;
  width: 100%;
  position: relative;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: "Montserrat", sans-serif;
}
nav {
  color: #ffffffb7;
  background-color: #1e222ea1 !important;
  height: 8vh;
  padding-right: 1rem !important;
  font-size: 1.5rem;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
nav small {
  font-size: 1.4rem;
}
nav button {
  position: absolute;
  height: 90%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.swap-form {
  width: 50%;
  height: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
}
.swap-btn {
  background-color: rgb(65, 91, 124);
  color: rgba(255, 255, 255);
}
.swap-btn:hover {
  background-color: rgb(32, 49, 71);
  color: rgba(255, 255, 255);
}
input:focus {
  outline: none !important;
}
form h3 {
  text-align: center;
}

/* Modal */
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal form input {
  margin-bottom: 1rem;
  text-align: center;
}
.modal form input::placeholder {
  font-style: italic;
}
.modal form button {
  background-color: green;
  color: rgba(255, 255, 255, 0.8);
}
button {
  border: none;
}
button:focus {
  outline: none;
}

.tx-inferface {
  position: relative;
}

.open-add-fund {
  border: none;
  text-align: center;
  font-size: 0.8rem;
  background-color: green;
  color: rgba(255, 255, 255);
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem;
  border-radius: 3px;
}
.balances {
  display: flex;
  flex-direction: column;
}

.allowed {
  position: right;
  float: right;
  margin-top: -22px;
  font-size: 13px;
  color: green;
}

.gasfee {
  float: left;
  margin-top: -22px;
  font-size: 13px;
  color: rgb(233, 4, 54);
}

.gas_warning {
  float: right;
  color: #ffffff50;
  font-size: 13px;
  text-align: center;
}

.max {
  position: right;
  float: left;
  margin-top: -22px;
  font-size: 12px;
  color: green;
  cursor: pointer;
}

.appfooter {
  background-color: #1e222ea1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 84vh;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.appfooter h5 {
  font-size: 16px;
  color: #ffffff50;
}

.footer {
  color: #ffffff50;
  font-size: 13px;
}

.identicon {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: 2px solid green;
}

#account {
  color: white;
  font-size: 17px;
}

#loader {
  color: #ffffff50;
  position: absolute;
  font-size: 23px;
  width: 50%;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

#network {
  color: #ffffff50;
  font-size: 23px;
  width: 50%;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  transform: translate(-50%, 25%);
}

.card {
  border-radius: 15px !important;
  margin-top: 10px;
  background-color: #1e222ea1;
  color: #ffffffb7;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.success {
  text-align: center;
  color: green !important;
  font-weight: 600;
}

.head {
  width: 50%;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 250%);
  background: #1e222ea1;
  border-radius: 10px;
  text-align: center;
  margin-top: 10px;
  color: #ffffff50;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

@media (max-width: 500px) {
  .head {
    margin-top: 30px;
    width: 90%;
  }

  .card {
    margin-top: 30px;
  }

  .swap-form {
    width: 90%;
  }

  .appfooter h5 {
    font-size: 12px;
    color: rgb(211, 209, 209);
    font-family: "Montserrat", sans-serif;
  }
}

.head p {
  font-weight: 700;
  margin-top: 3px;
}

.form-control, .form-control:disabled, .input-group-text{
    background-color: rgb(36, 44, 53);
    border: rgb(36, 44, 53);
    color: #fff;
}

.form-control:focus{
    background-color: rgb(36, 44, 53);
    border: rgb(36, 44, 53);
    box-shadow: none !important;
}

.input-group>.form-control, .input-group>.form-control-plaintext {
  color: #fff !important;
}