@import '../../../common/styles/variables';

.swapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 39px;
    height: 39px;
    background: $swapperAndSwapButtonColor;
    border-radius: 50%;
    .icon {
        color: $backgroundColorLight;
    }
}

.lightTheme {
    background: $textColorLight;
}

.swapperDisabled {
    cursor: auto;
    .icon {
        color: $textColorDisabled;
    }
}