@import '../../../common/styles/variables';

.swapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 39px;
    height: 39px;
    background: $swapperAndSwapButtonColor;
    border-radius: 50%;

    .icon {
        color: #FFFFFF;
    }
}

.lightTheme {
    background: $swapperAndSwapButtonColorLight;
}

.swapperDisabled {
    color: $textColorDisabled;
    cursor: auto;
}