@import '../../common/styles/variables';

.totalSwapped {
    margin-top: 10px;
    background-color: $menuColor;
    border-radius: 20px;
    color: #ffffffb7;
    width: 100%;
    padding: 27.5px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightTheme {
    background-color: $menuColorLight;
    color: $textColorLight;
}
