.selectNetwork {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .swapper {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 39px;
        height: 39px;
        background: #313647;
        border-radius: 50%;
    }
}