@import './common/styles/variables';

.app {
    height: 100vh;
    background-color: $backgroundColor;

    .blank {
        //background-color: red;
        height: 4px;
    }
}

.lightTheme {
    background-color: $backgroundColorLight;
}