@import './common/styles/variables';

.app {
    height: 100vh;
    background-color: $backgroundColor;

    .blank {
        height: 4px;
    }

    .centerContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 54px);

        .container {
            width: 100%;
            max-width: 850px;
            margin: 0 auto;
        }
    }
}

.lightTheme {
    background-color: $backgroundColorLight;
}