/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* General */

body {
    width: 100%;
    position: relative;
}

/* Nav */
nav {
    color: #ffffffb7;
    height: 8vh;
    padding-right: 1rem !important;
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;

    small {
        font-size: 1.4rem;
    }

    button {
        position: absolute;
        height: 90%;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
    }
}

.identicon {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 2px solid green;
}

.bridge-logo {
    padding-left: 10px;
    width: 190px;
}

#account {
    color: white;
    font-size: 14px;
}

/* Swap */

.swap-form {
    width: 50%;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
}

.swap-btn {
    background-color: rgb(65, 91, 124);
    color: rgba(255, 255, 255);
}

.swap-btn:hover {
    background-color: rgb(32, 49, 71);
    color: rgba(255, 255, 255);
}

input:focus {
    outline: none !important;
}

form h3 {
    text-align: center;
}

/* Swap Card */

#loader {
    color: #ffffff50;
    position: absolute;
    font-size: 23px;
    width: 50%;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.balances {
    display: flex;
    flex-direction: column;
}

.gas_warning {
    float: right;
    color: #ffffff50;
    font-size: 13px;
    text-align: center;
}

.max {
    //position: right;
    float: left;
    margin-top: -22px;
    font-size: 12px;
    color: green;
    cursor: pointer;
}

.allowed {
    //position: right;
    float: right;
    margin-top: -22px;
    font-size: 12px;
    color: green;
}

.gasfee {
    float: left;
    margin-top: -22px;
    font-size: 12px;
    color: rgb(233, 4, 54);
}

.success {
    text-align: center;
    color: green !important;
    font-weight: 600;
}

/* Total hydro swapped header */

.head {
    width: 50%;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 250%);
    background: #2c3244a1;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    color: #ffffff50;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    p {
        font-weight: 700;
        margin-top: 3px;
    }
}

/* Swap Form */

.form-control,
.form-control:disabled,
.input-group-text {
    background-color: rgb(52, 61, 71);
    border: rgb(52, 61, 71);
    color: #fff;
}

.form-control:focus {
    background-color: rgb(52, 61, 71);
    border: rgb(52, 61, 71);
    box-shadow: none !important;
}

.input-group > .form-control,
.input-group > .form-control-plaintext {
    color: #fff !important;
}

/* Modal */

.modal {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
            margin-bottom: 1rem;
            text-align: center;

            &::placeholder {
                font-style: italic;

            }
        }

        button {
            background-color: green;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

button {
    border: none;

    &:focus {
        outline: none;
    }
}

.tx-inferface {
    position: relative;
}

.open-add-fund {
    border: none;
    text-align: center;
    font-size: 0.8rem;
    background-color: green;
    color: rgba(255, 255, 255);
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75rem;
    border-radius: 3px;
}

#network {
    color: #ffffff50;
    font-size: 23px;
    width: 50%;
    position: absolute;
    margin-top: 15%;
    left: 50%;
    transform: translate(-50%, 25%);
}

.Toastify__toast--default {
    background: rgb(52, 61, 71) !important;
    color: #fff !important;
}

.footer {
    color: #ffffff50;
    font-size: 13px;
}

/* Mobile */

@media (max-width: 500px) {
    nav {
        color: #ffffffb7;
        background-color: #1e222e !important;
        height: 15vh !important;
        display: flex;
        flex-direction: column;
    }
    .bridge-logo {
        padding-top: 1rem;
        padding-left: 0px;
        width: 120px;
    }
    .head {
        margin-top: 30px;
        width: 90%;
    }
    .swap-form {
        width: 90%;
    }
    .allowed {
        font-size: 10px;
        color: green;
    }
    .gasfee {
        font-size: 10px;
        color: rgb(233, 4, 54);
    }
    .head {
        margin-top: 10px;
    }
    .mt-5 {
        margin-top: 3rem !important;
    }
}
